.community {
  text-transform: uppercase;
  border-bottom: 1px solid #000;

  .community-desc {
    padding: 0.32rem 0.1rem;
    font-size: 0.2rem;
    font-weight: 600;
    color: #878787;
    border-bottom: 1px solid #000;
  }

  .community-links {
    padding: 0.6rem 0.32rem 0.68rem;

    .icon {
      img {
        width: 0.56rem;
        height: 0.56rem;
      }
    }
  }

  @media (min-width: 980px) {
    .title {
      width: 94px;
      padding-top: 44px;
      font-size: 42px;
      font-weight: 600;
    }

    .community-desc {
      padding: 44px 0 42px 94px;
      font-size: 25px;
      font-weight: 600;

      .desc {
        max-width: 80%;
        line-height: 2em;
      }
    }

    .community-links {
      max-width: 900px;
      padding: 90px 94px;

      .icon {
        img {
          width: 44px;
          height: 44px;
        }
      }
    }
  }
}
