.wrapper {
  font-size: 12px;
  text-transform: uppercase;
  position: relative;

  .left {
    width: 0.94rem;
    border-right: 1px solid #000;

    .top {
      height: 1.04rem;
      border-bottom: 1px solid #000;

      .logo {
        width: 0.72rem;
        height: 0.58rem;
      }
    }

    .bottom {
      font-size: 0.28rem;
      font-weight: 500;
      color: #000000;
      position: sticky;
      top: 0;

      ul {
        writing-mode: vertical-rl;
        transform: rotate(180deg);

        li {
          margin-bottom: 0.48rem;
          cursor: pointer;

          a:hover {
            color: #5a88bb;
          }
        }
      }
    }
  }

  .right {
    overflow: hidden;

    .top {
      height: 1.04rem;
      border-bottom: 1px solid #000;
    }

    .bottom {
      .banner {
        height: 4.26rem;
        background: url(../../assets/images/banner-bg.png) center center / cover no-repeat #bfbfbf;
        border-bottom: 1px solid #000;
        padding: 0.32rem 0.16rem;
        text-align: right;
        overflow: hidden;

        .desc {
          font-size: 0.24rem;
          font-weight: 600;
          color: #000000;
          margin-bottom: 0.32rem;
          white-space: nowrap;
        }

        .button {
          width: 2.4rem;
          height: 0.56rem;
          line-height: 0.56rem;
          background: #ffffff;
          border-radius: 0.28rem;
          font-size: 0.28rem;
          font-weight: 500;
          color: #5a88bb;
          text-align: center;
          display: inline-block;
        }
      }

      .total {
        height: 1.8rem;
        padding: 0.32rem 0.16rem;
        border-bottom: 1px solid #000;
        font-size: 0.24rem;
        font-weight: 600;
        color: #000000;

        .amount {
          font-size: 0.56rem;
          font-weight: 600;
          text-align: center;
        }
      }
    }

    .footer {
      height: 0.3rem;
    }
  }

  @media (min-width: 980px) {
    .left {
      width: 100px;

      .top {
        height: 88px;

        .logo {
          width: 56px;
          height: 44px;
        }
      }

      .bottom {
        font-size: 21px;
        font-weight: 600;
        padding-top: 100px;

        ul {
          li {
            margin-bottom: 22px;
          }
        }
      }
    }

    .right {
      .top {
        height: 88px;
      }

      .bottom {
        .banner {
          .button {
            width: 202px;
            height: 44px;
            line-height: 44px;
            border-radius: 22px;
            font-size: 21px;
          }
        }

        .total {
          height: 264px;
          padding: 44px 31px;
          font-size: 42px;
          font-weight: 600;

          .amount {
            font-size: 100px;
            font-weight: 600;
            text-align: center;
          }
        }
      }

      .footer {
        height: 26px;
      }
    }
  }
}
