.track {
  margin-bottom: 0.1rem;

  .child {
    color: #000;
    font-size: 0.48rem;
    font-weight: 600;
    transform: translateX(100vw);
    line-height: 1.3em;
    word-spacing: 0.4rem;
    white-space: nowrap;
  }
}

@keyframes scrollTo {
  to {
    transform: translateX(-100%);
  }
}
